DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=gok-oguz
# Set to true for development, false for production
SYNCHRONIZE=false

CLIENT_URL=http://localhost:3000

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=604800 # 1 hour in seconds

PORT=4000
